/*
This is the Wordpress logo in the admin area.
You'll have to load your own images from the /assets folder and mess
with the width and height.  The important declarations seem to be necessary
*/
.login h1 a {
	background: url(../../login-logo.png) no-repeat top center!important; /* make sure to replace this! */
	width: 326px!important;
	height: 67px!important;
	text-indent: -9999px;
	overflow: hidden;
	padding-bottom: 15px;
	display: block;
}
