.masthead-nav{
    @apply sticky list-reset flex justify-center bg-yellow py-4 z-10 shadow-md;
    top: 0;

    li{
        @apply ml-2 mr-2;
    }

    a {
        @apply block text-black font-bold no-underline lowercase text-sm leading-tight text-center;
    }
}