.display-medium-item{
    @apply text-left text-white;

    a{
        @apply no-underline;
    }
}

.medium-image{
    @apply border-2 border-white mb-4;
}

.display-medium-title{
    @apply text-left text-white mb-4 border-none font-bold;
}

.display-medium-date,
.display-medium-readtime {
    @apply italic;
}

.display-medium-readmore{
    @apply block text-white font-bold no-underline;
    text-align: left!important;
}

#display-medium-owl-demo .details-title{
    border: 0;
}