<template>
    <section
        class="container mx-auto shadow-lg mb-8 md:flex md:items-start md:bg-transparent md:shadow-none"
        :class="{ 'md:flex-row-reverse' :  swapImage }"
        ref="container">
        <figure
            class="h-64 border-4 border-white bg-center bg-cover md:h-96 md:w-1/2 md: border-none md:mt-6"
            :style="{ backgroundImage: `url(${imageUrl})`}"
        ></figure>
        <div class="p-6 text-left bg-white md:w-1/2 md:min-h-108 md:shadow-lg">
            <transition name="fade" mode="out-in">
                <div v-if="! contentVisible" key="summary" class="md:flex md:items-start md:flex-col md:justify-center">
                    <slot name="summary"></slot>
                    <a href="#"
                       class="inline-block rounded-full bg-red text-white no-underline px-8 py-3 leading-tight"
                       @click.prevent="toggleContent"
                       v-text="buttonText"></a>
                </div>
                <div v-else key="content">
                    <slot name="content"></slot>
                    <a href="#"
                       class="inline-block rounded-full bg-red text-white no-underline px-8 py-3 leading-tight"
                       @click.prevent="toggleContent"
                       v-text="buttonText"></a>
                </div>
            </transition>
        </div>
    </section>
</template>
<script>

	export default {

		name: 'ProjectItem',

		data () {
			return {
			    contentVisible: false
            }
		},

		props:{
		    imageUrl:{
		        required: true
            },
            buttonDefaultText:{
		        required: true
            },
            swapImage: {
		        required: true
            }
        },

		computed:{
		    buttonText(){
		        return (this.contentVisible)
                    ? 'Hide details'
                    : this.buttonDefaultText;
            }
        },

		methods:{
            toggleContent(){
                return this.contentVisible = ! this.contentVisible;
            }
        },
	
	}
</script>